{% extends 'shop/basic.html' %}

{% block title %} About Us {% endblock %}
{% block body %}


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Kart366</h1>
      <p>Kart366 Pvt Ltd. is an Dummy Indian electronic commerce company based in Hubballi, India. Founded by Rakesh
        Gombi in 2021. This is just a dummy website, which was made as a project during my Django Course. Please do not
        purchase any items from here. If done so we are not responsible for delivering any kind of items to you. Thank
        you "Code with Harry" for guiding throught the Project</p>

    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-6">
        <h2>Reference</h2>
        <p>Code With Harry, is a programmer web developer, Educator, and Youtube content creator, who belongs from
          India.<br>
          <a href="https://youtube.com/playlist?list=PLu0W_9lII9ah7DDtYtflgwMwpT3xmjXY9">Code with Harry Youtube
            Channel</a>
        </p>
      </div>
      <div class="col-md-6">
        <h2>About Me</h2>
        <p>I am Rakesh Gombi pursuing 3rd year of Bachelors of Engineering in Electronincs and Communications
          Engineering in RV College of Engineering, Bangalore</p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>


{% endblock %}